@import "../../sass/modules/mixins";

.error__ctn {
	position: fixed;
	z-index: 11;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(black, 0.9);
	color: white;
	@include flexCenterAll;
}